/.idea/
.rider/
_ReSharper.Caches/
*.iml
*.sln.docstates
bin/
obj/
packages/
**/bin/
**/obj/
.vs/
.nuget/
nuget.config
.vscode/
.DS_Store
Thumbs.db
ehthumbs.db
*.tmp

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/
package-lock.json
yarn.lock

.vscode/
.idea/workspace.xml
*.suo
*.ntvs*